*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    color: #4f4f4f;
}
h1{
    text-align: center;
    line-height: 60px;
}
table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-break: break-all;
    border: 1px solid #ddd;
    font-size: 14px;
}
table thead tr th{
    font-weight: bold;
    border: 1px solid #ddd;
    padding:5px
}
table tbody tr:nth-child(2n+1){
    background-color: #f7f7f7;
}
table tbody tr:hover{
    background-color: #f6f6f6 !important;
}
table tbody tr td{
    border: 1px solid #ddd;
    padding:5px;
    font-weight: normal;
}

a{
    color: #006bad;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
}
a:hover{
    text-decoration: underline;
}